generated_plugin_registrant.dart

# Visual Studio Code related
.vscode/
*.code-workspace

# exclude coverage folder
coverage/
merged.info
lcov.info

fastlane/README.md
fastlane/report.xml

**/pubspec.yaml-e
app_center/appcenter_performance_monitor/pubspec.yaml-e
core/app-mobile-core/src/pubspec.yaml-e
network_manager/app-mobile-networkmanager/src/pubspec.yaml-e
task_manager/app-mobile-taskmanager/src/pubspec.yaml-e
widgets/app-mobile-widgets/src/pubspec.yaml-e

*.project
*.classpath
*.settings

.DS_Store
.dart_tool/

.packages
.pub/

.idea/
.vagrant/
.sconsign.dblite
.svn/

*.swp
profile

DerivedData/

.generated/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata

*.moved-aside

*.pyc
*sync/
Icon?
.tags*

build/
.android/
.ios/
.flutter-plugins
.flutter-plugins-dependencies

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

Temp/
Temp_Core/
/pubspec.lock
